// Шрифты
$_fi: "Inter";

// Размер шрифта
$_fspromo: 70px;
$_fsh1: 40px;
$_fsh2: 24px;
$_fsh3: 20px;
$_fsp: 16px;

// Цвета
$_cblack: #1A1A1A;
$_cgreen: #26A048;
$_cwhite: #FFFFFF;
$_cred: #EE203B;
$_cgray: #D1D1D1;
$_cbgray: #F1F1F1;
$_cbbgray: #f4f4f4;
$_cwgray: #616161;

//Скругление краев в px
$_radbtn: 10px; //Кнопки
$_radbox: 20px; //Блоки сайта